{
	padding:0;
	margin:0;
}
body
{
	bgcolor: "salmon";
	box-sizing:border-box;
	font-family:cambria;
}
.menu-bar 
{
background:rgb(75, 21, 206);
text-align:center;
}
.menu-bar ul
{
	display:inline-flex;
	list-style:none;
	color:#fff;
}
.menu-bar ul li
{
	width:120px;
	margin:15px;
	padding:15px;
}